/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Add New Post / Update Post
# Single Profile Page
# RTL Support
--------------------------------------------------------------*/
.blog.buddypress .page.hentry {
    border: none !important;
}

/*--------------------------------------------------------------
# Add New Post / Update Post
--------------------------------------------------------------*/
.bp-member-blog-container form#bp-member-post {
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;
}
button#insert-media-button {
    background: #fff;
    border-color: #ccc;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    outline: 0;
    padding: .3em .5em;
    text-align: center;
    text-decoration: none;
    width: auto;
    min-height: 100%;
    line-height: 1;
    display: inline-block;
}
#wp-bp_member_blog_post_content-media-buttons button#insert-media-button {
    margin-top: 4px;
    border-bottom: none !important;
    display: block;
    border-radius: 0 !important;
    background: transparent;
    border-color: #ccc;
    color: #333;
}

button#insert-media-button:hover {
    background: #ededed;
    color: #555;
}

.selectize-input input {
    height: auto !important;
}

.buddypress-wrap .standard-form.bp-member-blog-post-form .wp-editor-container input {
    width: auto;
}

.buddypress-wrap .standard-form.bp-member-blog-post-form label {
    margin: 15px 0;
    font-weight: 400;
    border:none !important;
}

[for="bp_member_blog_post_content"] div#wp-bp_member_blog_post_content-wrap{
    border:none !important;
}

#bp_member_blog_post_featured_image {
    margin: 0 0 15px;
}

.bp-feedback p {
    width: 100%;
}

.bp-blog-view-link {
    float: right;
    padding-right: 5px;
}

.buddypress-wrap .bp-member-blog-container .standard-form label,
.buddypress-wrap .bp-member-blog-container .standard-form span.label {
    display: block;
    font-size: 15px;
}

ul.bpmb-post-tag-lists {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}

ul.bpmb-post-tag-lists li {
    display: inline-block;
    line-height: 24px;
    height: auto;
    background: #f2f2f2;
    font-size: 13px;
    margin: 4px 4px 2px 0;
    padding: 0 6px;
    padding-right: 25px;
    color: #303030;
    position: relative;
}

ul.bpmb-post-tag-lists span.bpmb-tag-remove {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 0 6px;
    border-left: 1px solid #d0d0d0;
    position: absolute;
    right: 0;
    cursor: pointer;
}

ul.bpmb-post-tag-lists span.bpmb-tag-remove:hover {
    background: rgba(0, 0, 0, 0.05);
}

.bp-member-blog-post-form .bp-member-blog-btn {
    margin: 8px 0;
}

.buddypress-wrap .bp-member-blog-container input[type=text]{
    background: #fff;
}
.buddypress-wrap .bp-member-blog-container .wp-editor-container textarea {
    background: #fff;
    width: 100%;
    border: none;
}
.buddypress-wrap .bp-member-blog-container input#submit {
    width: auto;
}
.bp-member-blog-container input[type="text"] {
    display: block;
    width: 100%;
}
.buddypress-wrap .bp-member-blog-container input#submit {
    border: unset;
    width: auto;
}
form#bp-member-post.bp-member-blog-post-form input#submit {
    background: #2468c6;
    border-radius: 5px;
    line-height: 1;
    padding: 10px 20px;
}
.buddypress-wrap .bp-member-blog-container .selectize-control.multi .selectize-input.has-items {
    box-shadow: none;
    padding: 10px 10px 8px;
}

aside.bp-feedback.saved-successfully.bp-messages.bp-template-notice.success {
    background: #ebf9eb;
    border: 1px solid green;
    border-left: 4px solid green;
    border-radius: 0;
    margin-bottom: 20px;
}
aside.bp-feedback.saved-successfully span.bp-icon {
    display: none;
}
.buddypress-wrap aside.bp-feedback.saved-successfully p {
    font-size: 15px;
    color: green;
    font-weight: 500;
    margin: 0;
}



/*--------------------------------------------------------------
# Single Profile Page
--------------------------------------------------------------*/
.bp-member-blog-container.bpmb-blog-posts{
    overflow: hidden;
    width: 100%;
}

.bp-member-blog-container {
    margin:0;
}

.bp-member-blog-container>div.bp_members {
    border: 1px solid rgba(0, 0, 0, .1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px !important;
    margin-bottom: 20px;
    padding:15px;
    background: #fff;
}

.bp-member-blog-container>div.bp_members:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.bp-member-blog-container .post-featured-image {
    margin-right: 20px;
    width: 30%;
}

.bp-member-blog-container .post-featured-image img {
    height: 210px !important;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bp-member-blog-container .post-content {
    width: calc(100% - 120px);
}

body.buddypress .buddypress-wrap .bp-member-blog-container .post-content {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 1px;
}

body.buddypress .buddypress-wrap .bp-member-blog-container .post-content h3.entry-title {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}

body.buddypress .buddypress-wrap .bp-member-blog-container .post-content .bp-edit-post,
.bp-member-blog-container .post-content .bp-edit-post {
    font-size: 13px;
    margin-left: 10px;
    font-weight: 400;
    font-style: italic;
}

.bp-member-blog-container p {
    margin: 0 0 10px !important;
}

.bp-member-blog-container .entry-content {
    margin: 0;
}

.bp-member-blog-container .post-date {
    margin: 5px 0;
    font-size: 14px;
}

.bp-member-blog-container  .post-categories {
    margin:8px 0 12px;
    position: relative;
}

.bp-member-blog-container  .post-categories a {
    padding: 2px 10px;
    font-size: 13px;
    background: #ececec;    
    line-height: 1;
    margin-right: 8px;
    border-radius: 10px;
}
.bp-member-blog-container .post-date:before {
    content: '';
    display: inline-block;
    background: url(../images/calendar-alt.svg) no-repeat center center;
    height: 16px;
    width: 16px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -4px;
    opacity: 0.6;
}

.bp-member-blog-container .post-date a {
    font-style: normal;
    text-decoration: underline !important;
}

.bp-member-blog-container .entry-content {
    margin: 0 0 15px !important;
    line-height: 1.5;
}

.post-actions {
    display: flex;
}

.post-actions span a {
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
}

.post-actions span.publish-post a:before {
    content: '';
    display: inline-block;
    background: url(../images/document.svg) no-repeat center center;
    height: 16px;
    width: 16px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -4px;
    opacity: 0.6;
}

.post-actions span.delete-post a:before {
    content: '';
    display: inline-block;
    background: url(../images/trash.svg) no-repeat center center;
    height: 16px;
    width: 16px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -4px;
    opacity: 0.6;
}

.bp-member-blog-container .pagination {
    clear: both;
}

@media only screen and (max-width: 580px) {
    .bp-member-blog-container>div.bp_members {
        display: block;
        text-align: left;
    }
    .bp-member-blog-container .post-featured-image {
        display: inline-block;
        margin-bottom: 15px;
    }
    .bp-member-blog-container .post-content {
        width: 100%;
        justify-content: left;
    }
    .bp-member-blog-container .post-featured-image {
        margin:0 0 20px !important;
        width: 100% !important;
    }
    .bp-member-blog-container.bpmb-blog-posts {
        margin-top: 20px;
    }
}

/*--------------------------------------------------------------
# RTL Support
--------------------------------------------------------------*/
[dir='rtl'] .bp-member-blog-container .post-featured-image {
    margin-right: 0;
    margin-left: 20px;
}

[dir='rtl'] .post-actions span a {
    margin-right: 0;
    margin-left: 10px;
}

[dir='rtl'] .post-actions span.publish-post a:before {
    margin-right: 0;
    margin-left: 4px;
}

/*--------------------------------------------------------------
buddyboss-theme
--------------------------------------------------------------*/
.buddyboss-theme #wp-bp_member_blog_post_content-wrap input {
    height: auto;
}
.buddyboss-theme .wp-switch-editor {
    border-radius: 0;
}
.buddyboss-theme .standard-form button.wp-switch-editor {
    line-height: 28px !important;
    min-height: 28px !important;
}
.buddyboss-theme textarea#bp_member_blog_post_content {
    height: 150px !important;
    border: none !important;
}
#wp-bp_member_blog_post_content-media-buttons button#insert-media-button {
    margin-bottom: 0;
    min-height: 28px;
    line-height: 28px;
}
#wp-bp_member_blog_post_content-wrap button.wp-switch-editor {
    line-height: 28px;
    min-height: 28px;
    border:none !important
}

/*--------------------------------------------------------------
 Dark Mode
--------------------------------------------------------------*/
.dark-scheme .bp-member-blog-container>div.bp_members,
.dark-scheme .bp-member-blog-container form#bp-member-post {
    border: 1px solid #3e3e3e;
    background: #242526;
}
.dark-scheme .bp-member-blog-container .post-date:before,
.dark-scheme .post-actions span.publish-post a:before,
.dark-scheme .post-actions span.delete-post a:before{
    display: none;
}
.dark-scheme .bp-member-blog-container  .post-categories a {
    background: #69696a;
}
.dark-scheme .bp-member-blog-container.bpmb-blog-posts img.loader-image{
    filter: brightness(0) invert(1);
}
.dark-scheme #bp-member-post input#bp_member_blog_post_tag,
.dark-scheme #bp-member-post input[type="text"] {
    background: #2f3031 !important;
    border-color: #5d5e5e !important;
}
.dark-scheme button#bp_member_blog_post_content-html,
.dark-scheme button#bp_member_blog_post_content-tmce {
    background: #18191a !important;
}
.dark-scheme #wp-bp_member_blog_post_content-media-buttons button#insert-media-button {
    border-color: #3e3e3e;
    color: #fff;
}
.dark-scheme .quicktags-toolbar,
.dark-scheme div#wp-bp_member_blog_post_content-editor-container {
    border-color: #3e3e3e !important;
}
.dark-scheme div#qt_bp_member_blog_post_content_toolbar {
    background: #18191a;
}




/*--------------------------------------------------------------
Youzify Support
--------------------------------------------------------------*/
#youzify .bp-member-blog-container.bpmb-blog-posts .type-bp_members.post {
    background: #fff;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    padding: 20px;
}
#youzify .bp-member-blog-container .post-featured-image {
    width:35%;
}
#youzify .bp-member-blog-post-form label {
    margin-bottom: 15px;
    display: block;
}
#youzify [for="bp_member_blog_pro_post_group"] .nice-select.selectized {
    display: none;
}
#youzify input#submit {
    border: none;
}
.youzify-main-column #wp-bp_member_blog_post_content-media-buttons {
    float: left;
    margin-bottom: -3px;
}