/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.bp-member-blog-wrap .wbcom-admin-settings-page {
  overflow: visible !important;
}

.nav-tab-wrapper ul li#general a.nav-tab:before {
  content: "\f111";
}

.nav-tab-wrapper ul li#restriction a.nav-tab:before,
.nav-tab-wrapper ul li#restriction-pro a.nav-tab:before {
  content: "\f528";
}

.nav-tab-wrapper ul li#group-integration a.nav-tab:before,
.nav-tab-wrapper ul li#group-integration-pro a.nav-tab:before {
  content: "\f307";
}

.wbcom-settings-section-options-flex {
  flex-wrap: wrap;
}

.wbcom-settings-section-options ul.wbcom-settings-member-retraction.wbcom-settings-section-options-flex li {
  margin-bottom: 15px;
}

.wbcom-settings-section-options .selectize-input input[type="text"] {
  height: auto;
}

/* Pro */
.member-blog-pro-tab .wbcom-welcome-main-wrapper:after {
  background: #000;
  height: 100%;
  width: 100%;
  bottom: 4px;
  content: "";
  position: absolute;
}

a.bp-member-blog-pro-add-form-section span,
a#bp-member-blog-pro-delete-table span {
  color: #3faf3f;
  text-align: center;
  display: block;
}

a#bp-member-blog-pro-delete-table span {
  color: #f62828;
}

.bp-member-blog-add-form-section {
  background: #2094f3;
  display: inline-block;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none !important;
  margin-bottom: 10px;
  border-radius: 5px;
}
}

.wbcom-admin-settings-page .wbcom-tab-content {
  width: 100%;
  background: #fff;
  padding: 20px 40px;
}

.member-blog-pro-tab .wbcom-welcome-main-wrapper a {
  display: block;
  position: relative;
  z-index: 99;
}

.member-blog-pro-tab .wbcom-welcome-main-wrapper small {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  margin-top: -15px;
  margin-left: -85px;
  font-weight: 500;
  z-index: 9;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background: #f02f32;
  text-shadow: none;
  transition: all 0.3s;
  box-shadow: 0px 10px 25px rgba(32, 53, 85, 0.35);
  border-radius: 12px;
  border: none;
  transition: all 0.3s;
}

.member-blog-pro-tab .wbcom-welcome-main-wrapper small:hover {
  background: #2a32ef;
}

.member-blog-pro-tab .wbcom-welcome-main-wrapper img {
  width: 100%;
  margin: 0;
  border-radius: 12px;
  transition: all 0.3s;
  opacity: 0.5;
  overflow: hidden;
}

.member-blog-pro-tab .wbcom-welcome-main-wrapper:after {
  background: #020305;
  height: 100%;
  width: 100%;
  bottom: 4px;
  content: "";
  border-radius: 12px;
  position: absolute;
}

.wbcom-tab-content.member-blog-pro-tab .wbcom-welcome-main-wrapper {
  overflow: hidden;
  border-radius: 12px;
}


.wbcom-wrap .notice.notice-error.is-dismissible.learndash-license-is-dismissible,
.wbcom-wrap .notice.notice-error {
  display: none !important;
}